:root {
    --background-color: #f5f5f5;
}

body {
    background-color: var(--background-color);
}

main {
    display: flex;
    flex-direction: row-reverse;
}

.form-block { 
    width: 60rem;
    background-color: #c4e0cd;
}

/* stops image from dislocating the form */
aside { 
    width: 40rem;
    position: relative;
    overflow: hidden;
}

aside > img.village {
    width: 600px;
}

aside > img.odin-logo {
    width: 20vw;
    position: absolute;
    top: 25vw;
    left: 10vw;
}